*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    background-color:#ecf0f3;
    font-family: sans-serif;
    outline:none;
}
.container{
    height: 100vh;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color:gray;
    display: grid;
    grid-template-columns: repeat(4,70px);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 5px rgb(14, 13, 13),
                      5px 5px 5px black                     
}
input{
    grid-column: span 4;
    height: 50px;
    width: 270px;
    background-color:#ecf0f3;
    border: none;
    box-shadow: inset 5px 5px 5px #ffffff,
                      5px 5px 5px rgba(0, 0, 0, 16);
    border-radius: 30px;
    /* color: blueviolet; */
    font-size: 40px;
    text-align: end;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color:#ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                 5px 5px 12px rgba(0, 0, 0, 16);
    border: none;
    margin: 5px;
    font-size: 25px;
}
.equal{
    width: 100px;
    border-radius: 40px;
    background-color:burlywood;
}